<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Software</title>
</head>
<body>

</body>
</html>
{% block content %}
<h1>CHOOSE PREFERRED DURATION OF CLASS</h1>
<i>DURATION:</br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Sub1' %}"><button>1-2 hours</button></a>
        </li>

    </br>

    <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Sub1' %}"><button>2-3 hours</button></a>
        </li>

    </br>

    <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Sub1' %}"><button>3-4 hours</button></a>
        </li>

      </br>

    <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Sub1' %}"><button>4-5 hours</button></a>
        </li>
</i>
{% endblock content %}