<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Software</title>
</head>
<body>

</body>
</html>

{% block content %}
<h1>CHOOSE THE CLASS GROUP OF STUDENTS YOU WOULD LIKE TO TEACH </h1>
<i>The Grades are:</br>
    <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-1</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-2</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-3</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-4</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-5</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-6</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-7</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-8</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-9</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-10</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-11</button></a>
        </li>
    </br>
    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Hour' %}"><button>Grade-12</button></a>
        </li>
    {% endblock content %}