<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Class</title>
</head>
<body>
<h1>Scheduled Class</h1>

    {% if classes %}
    <table border="1">
        <thead>
            <th>Subject</th>
            <th>Grade</th>
            <th>Duration</th>
        </thead>
        {% for schedule in classes %}
        <tr>
            <td>{{ schedule.sub_name }}</td>
            <td>{{ schedule.grade }}</td>
            <td>{{ schedule.duration }}</td>
        </tr>
        {% endfor %}
    </table>
{%else%}
<p>No class scheduled</p>
{%endif%}
</body>
</html>