<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Software</title>
</head>
<body>
<h1>CHOOSE SUBJECT OF EXPERTISE</h1>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Sub' %}"><button>Social Studies</button></a>
        </li>

    </br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Sub' %}"><button>Maths</button></a>
        </li>

</br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Sub' %}"><button>Science</button></a>
        </li>

</br>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Sub' %}"><button>English</button></a>
        </li>

</body>
</html>